DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=weather
DB_SSL_MODE=disable
DB_AUTO_MIGRATE=1

# Redis configuration
REDIS_ADDRESS=redis:6379
REDIS_PASSWORD=
REDIS_DB=0

# Weather API configuration
WEATHER_API_KEY=apikey


# Application URLs
BASE_URL=http://localhost:8000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=a@a.com
SMTP_PASSWORD="password"
SMTP_FROM=a@a.com

APP_HOST=0.0.0.0
APP_PORT=8000
